body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    background: linear-gradient(45deg, #f7931a, #ffc107);
    color: white;
    padding: 20px;
    border-radius: 8px;
}

img {
    border-radius: 5px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.1);
}
